# ACOL test visualisation on COCO

## Setup stuff

In [4]:
#imports and settings:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
from jupyterthemes import jtplot
from scipy.stats import threshold
import time, os
import _init_paths
import pandas as pd
jtplot.style()
%matplotlib inline
tf.logging.set_verbosity(tf.logging.INFO)

In [6]:
clustCount = 5
classCount = 80
detections = pd.read_json('//code/ThesisProject-SCFasterRCNN9000/output/faster_rcnn_ACOL_end2end/coco_2014_val/VGGnet_fast_rcnn_iter_49000/detections_val2014_results.json')

In [8]:
detections

,bbox,category_id,cluster,image_id,score
0,"[257.06854248, 77.2542419434, 158.904541016, 2...",1,3,262148,0.998117
1,"[451.767700195, 254.207092285, 22.6510620117, ...",1,3,262148,0.967709
2,"[149.682327271, 251.289611816, 24.5466003418, ...",1,3,262148,0.964170
3,"[198.440948486, 252.404129028, 34.2852478027, ...",1,3,262148,0.942098
4,"[421.696472168, 252.376663208, 31.2954711914, ...",1,3,262148,0.936704
5,"[472.722717285, 258.345672607, 20.7355957031, ...",1,3,262148,0.864454
6,"[382.93661499, 251.762420654, 30.223815918, 87...",1,3,262148,0.730564
7,"[162.677612305, 249.785583496, 31.2213134766, ...",1,3,262148,0.727135
8,"[287.781433105, 233.408477783, 54.955871582, 1...",1,3,262148,0.622337
9,"[214.956268311, 241.58430481, 42.2073364258, 9...",1,3,262148,0.512431
10,"[401.040679932, 290.704223633, 38.333190918, 5...",1,3,262148,0.380332
11,"[343.667999268, 244.543014526, 46.8215942383, ...",1,3,262148,0.254629
12,"[234.299835205, 253.128540039, 73.2819213867, ...",1,3,262148,0.192509
13,"[322.316436768, 172.864807129, 54.0908203125, ...",1,3,262148,0.164953
14,"[145.950073242, 240.688903809, 317.928344727, ...",1,3,262148,0.145816
15,"[430.610412598, 247.244674683, 53.5462646484, ...",1,3,262148,0.050899
16,"[106.305480957, 200.22744751, 53.8722229004, 1...",1,3,393226,0.997075
17,"[186.314666748, 196.836959839, 27.6731567383, ...",1,3,393226,0.127178
18,"[284.550354004, 190.30531311, 32.6624145508, 4...",1,3,393226,0.109470
19,"[255.00994873, 179.32019043, 26.5675048828, 53...",1,3,393226,0.085259
20,"[505.714630127, 180.173660278, 33.2165222168, ...",1,3,393226,0.051902
21,"[122.954284668, 313.229125977, 231.756530762, ...",1,3,109229,0.999201
22,"[245.69909668, 197.202926636, 17.1805419922, 2...",1,3,109229,0.149846
23,"[105.024429321, 104.790969849, 202.348800659, ...",1,3,131089,0.995663
24,"[14.3993530273, 0.0, 461.246276855, 637.491821...",1,3,393243,0.983781
25,"[3.25736999512, 0.0, 39.5083274841, 102.155258...",1,3,393243,0.767739
26,"[21.686630249, 421.380706787, 392.666641235, 2...",1,3,393243,0.741124
27,"[0.0, 70.0180892944, 36.8182601929, 150.648323...",1,3,393243,0.419923
28,"[16.1599769592, 0.0, 112.01757431, 278.900634766]",1,3,393243,0.238447
29,"[370.958984375, 170.189483643, 109.041015625, ...",1,3,393243,0.056993
...,...,...,...,...,...
847289,"[241.165298462, 377.802032471, 59.1003875732, ...",90,8,123633,0.067082
847290,"[96.0150985718, 209.169067383, 39.3835220337, ...",90,2,255209,0.074216
847291,"[349.53527832, 115.791366577, 57.6215820312, 6...",90,8,386352,0.050308
847292,"[218.402496338, 409.234375, 182.124755859, 76....",90,8,386716,0.235247
847293,"[268.694366455, 413.503814697, 56.0103149414, ...",90,8,386716,0.071579
847294,"[119.613113403, 56.5510826111, 49.7709655762, ...",90,2,124759,0.068162
847295,"[221.757705688, 0.0, 39.7251739502, 130.776397...",90,2,386929,0.084177
847296,"[404.584991455, 0.0, 47.4097290039, 119.336181...",90,2,125106,0.108981
847297,"[137.061203003, 80.8095321655, 21.6765441895, ...",90,8,125322,0.065368
847298,"[315.664581299, 199.319946289, 43.2248535156, ...",90,2,125404,0.051685
847299,"[325.31930542, 108.87462616, 45.9145507812, 13...",90,2,518908,0.101760
847300,"[230.548797607, 144.213897705, 23.887298584, 1...",90,2,518908,0.090082
847301,"[306.049438477, 165.957794189, 223.119628906, ...",90,2,414196,0.055661
847302,"[434.992919922, 66.5082702637, 87.6793212891, ...",90,2,388082,0.057035
847303,"[323.554504395, 264.725524902, 41.205871582, 3...",90,8,257076,0.211820
847304,"[331.566070557, 117.476089478, 38.4506835938, ...",90,8,388215,0.055875
847305,"[37.8696327209, 462.759307861, 72.6997032166, ...",90,8,126564,0.053648
847306,"[525.821289062, 145.473693848, 107.063354492, ...",90,2,520012,0.118035
847307,"[213.008087158, 163.064407349, 36.7481384277, ...",90,8,257870,0.101332
847308,"[490.388702393, 242.504364014, 37.0975036621, ...",90,2,389255,0.073776
847309,"[250.119033813, 228.670227051, 48.3098907471, ...",90,8,127170,0.221176
847310,"[410.645935059, 120.249481201, 43.8815917969, ...",90,8,12966,0.052324
847311,"[148.5418396, 418.518249512, 59.9663391113, 12...",90,2,258509,0.082328
847312,"[301.476074219, 102.033737183, 113.506347656, ...",90,8,127530,0.070810
847313,"[322.793518066, 18.0745697021, 60.2855224609, ...",90,2,127623,0.051948
847314,"[210.181518555, 257.816650391, 117.22845459, 5...",90,8,258815,0.819473
847315,"[281.098144531, 252.305007935, 59.7467651367, ...",90,8,258815,0.051756
847316,"[83.8894500732, 181.186401367, 64.454574585, 6...",90,8,522425,0.078086
847317,"[267.828521729, 297.259155273, 66.4188232422, ...",90,2,391642,0.058750
847318,"[209.027832031, 172.144210815, 68.4035949707, ...",90,2,392764,0.100571

## cluster spread per class

In [36]:
detections[['category_id','cluster','image_id']].groupby(['category_id', 'cluster']).count()

                     image_id
category_id cluster
1           3          183455
2           8            7221
3           4           41806
4           4            9260
5           5            7962
6           1            6829
7           9            7722
8           1           19505
9           8           15855
10          5           11639
11          8            2661
13          9            2453
14          5            1558
15          6           18686
16          1           13532
17          5            4748
18          8               1
            9            5933
19          3            6705
20          0           10862
21          3            6497
22          2            4436
23          7            1727
24          2            3283
25          9            3612
27          0            9849
28          2            9374
31          3           17391
            8               1
32          3            6249
...                       ...
58          5            4992
59          4            5579
60          7            6226
61          6            8588
62          3           47098
63          0              53
            6            9565
64          8           14508
65          4            7940
67          3           22020
70          3            5697
72          7            7367
73          3            6032
74          2            2417
75          0            3457
76          7            3166
77          7            8399
78          6            3376
79          9            6241
81          7            8820
82          6            4014
84          1              21
            4           16327
            5            1621
85          7            5029
86          2           14272
87          8            1792
88          1            5039
90          2             143
            8             335

[88 rows x 1 columns]